<template name="creditCard">
  <form id="billing-creditcard">
    <div class="credit-card">
      <h2>{{i18n "Billing Info"}} <img src="/packages/fantasyhub_billing/public/img/credit-cards.png"></h2>
      <div class="form-section">
        {{#if requireName}}
        <div class="form-group">
          <label>{{i18n "Name"}}</label>
          <input type="text" name="cc-name" class="form-control" placeholder="Name on Card" required/>
        </div>
        {{/if}}
        <div class="form-group">
          <label>{{i18n "Card Number"}}</label>
          <input parsley-type="number" name="cc-num" class="form-control" placeholder="••••••••••••••••" parsley-luhn="true" parsley-luhn-message="Please entere a valid credit card number" required />
        </div>
        <div class="row">
          <div class="col-md-7">
            <div class="expiration">
              <label>{{i18n "Expiration"}}</label>
              <div class="row">
                <div class="col-xs-6">
                  <div class="form-group">
                    <input parsley-type="number" min="1" max="12" name="cc-exp-month" class="form-control" placeholder="MM"
                    parsley-rangelength="[2,2]" parsley-rangelength-message="This value should be exactly 2 digits" required/>
                  </div>
                </div>
                <span> / </span>
                <div class="col-xs-6">
                  <div class="form-group">
                    <input parsley-type="number" name="cc-exp-year"
                    data-parsley-trigger="keyup" parsley-rangelength="[4,4]" parsley-rangelength-message="This value should be exactly 4 digits" class="form-control" placeholder="YYYY" required />
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-5">
            <div class="form-group">
              <label>{{i18n "Card Code"}} <img src="/packages/fantasyhub_billing/public/img/cvc.png"></label>
              <input parsley-type="number" name="cc-cvc" class="form-control" placeholder="CVC" required/>
            </div>
          </div>
        </div>
        {{#if requireAddress}}
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <label>{{i18n "Address"}}</label>
              <input type="text" name="cc-address-line-1" class="form-control" placeholder="Street Line 1" required>
            </div>
            <div class="form-group">
              <input type="text" name="cc-address-line-2" class="form-control" placeholder="Street Line 2">
            </div>
            <div class="row">
              <div class="col-md-4">
                <div class="form-group">
                  <input type="text" name="cc-address-city" class="form-control" placeholder="City" required>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <input type="text" name="cc-address-state" class="form-control" placeholder="State" required>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <input parsley-type="number" name="cc-address-zip" class="form-control" placeholder="Zip"
                  parsley-rangelength="[5,5]" parsley-rangelength-message="This value should be exactly 5 digits" required>
                </div>
              </div>
            </div>
          </div>
        </div>
        {{/if}}
      </div>
    </div>
  </form>
</template>
