<template name="creditCard">
  <div class="credit-card">
    <h2>{{i18n "Billing Info"}} <img src="/packages/billing/public/img/credit-cards.png"></h2>
    <div class="form-section">
      <div class="form-group">
        <label>{{i18n "Card Number"}}</label>
        <input type="text" name="cc-num" class="form-control" placeholder="••••••••••••••••"/>
      </div>
      <div class="row">
        <div class="col-md-7">
          <div class="expiration">
            <label>{{i18n "Expiration"}}</label>
            <div class="row">
              <div class="col-xs-6">
                <div class="form-group">
                  <input type="text" name="cc-exp-month" class="form-control" placeholder="MM"/>
                </div>
              </div>
              <span> / </span>
              <div class="col-xs-6">
                <div class="form-group">
                  <input type="text" name="cc-exp-year" class="form-control" placeholder="YYYY"/>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-5">
          <div class="form-group">
            <label>{{i18n "Card Code"}} <img src="/packages/billing/public/img/cvc.png"></label>
            <input type="text" name="cc-cvc" class="form-control" placeholder="CVC"/>
          </div>
        </div>
      </div>
      {{#if requireAddress}}
      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <label>{{i18n "Address"}}</label>
            <input type="text" name="cc-address-line-1" class="form-control" placeholder="Street Line 1">
          </div>
          <div class="form-group">
            <input type="text" name="cc-address-line-2" class="form-control" placeholder="Street Line 2">
          </div>
          <div class="row">
            <div class="col-md-4">
              <div class="form-group">
                <input type="text" name="cc-address-city" class="form-control" placeholder="City">
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <input type="text" name="cc-address-state" class="form-control" placeholder="State">
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <input type="text" name="cc-address-zip" class="form-control" placeholder="Zip">
              </div>
            </div>
          </div>
        </div>
      </div>
      {{/if}}
    </div>
  </div>
</template>