<template name="invoices">
  <div class="container invoices">
    {{#if billingError}}
      <div class="row alert alert-danger">
        <div class="col-xs-12">
          {{billingError}}
        </div>
      </div>
    {{/if}}
    {{#if billingSuccess}}
      <div class="row alert alert-success">
        <div class="col-xs-12">
          {{billingSuccess}}
        </div>
      </div>
    {{/if}}
    <div class="row">
      
      <div class="col-xs-6">
        <h2>{{i18n "Past Invoices"}}</h2>
        
        <div class="panel-group" id="past-invoice-accordion">
          {{#each invoices}}
            {{> _invoice}}
          {{else}}
            {{#if pastInvoicesWorking}}
            <i class="icon-spinner icon-spin icon-large fa fa-spinner fa-3x fa-spin billing-loader"></i>
            {{else}}
              Nothing to see here.
            {{/if}}
          {{/each}}
        </div>
      </div>

      <div class="col-xs-6">
        <h2>{{i18n "Upcoming Invoice"}}</h2>
        
        <div class="panel-group" id="upcoming-invoice-accordion">
          {{#with upcomingInvoice}}
            {{> _invoice}}
          {{else}}
            {{#if upcomingInvoicesWorking}}
            <i class="icon-spinner icon-spin icon-large fa fa-spinner fa-3x fa-spin billing-loader"></i>
            {{else}}
              Nothing to see here.
            {{/if}}
          {{/with}}
        </div>
      </div>
    </div>

    {{#if hasSubscription}}
    <div class="row billing-footer">
      <div class="col-md-12">
        <div class="pull-right">
          {{#if showPricingPlan}}
          <div class="price">
            {{pricingPlan}}
          </div>
          {{/if}}
          <button id="cancel-subscription" class="btn btn-danger pull-right">
            <i class="fa fa-times"></i>
            {{i18n "Cancel Subscription"}}
            {{#if cancelingSubscription}}
              <i class="fa fa-spinner fa-spin"></i>
            {{/if}}
          </button>
        </div>
      </div>
    </div>
    {{> cancelSubscriptionModal}}
    {{/if}}
  </div>
</template>

<!-- CONFIRM REMOVE DEVICE MODAL -->
<template name="cancelSubscriptionModal">
  <div class="modal fade" id="confirm-cancel-subscription" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title" id="myModalLabel">{{i18n "Confirm Cancelling Subscription"}}</h4>
        </div>
        <div class="modal-body">
          {{i18n "Are you sure you want to cancel your subscription?"}}
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="fa fa-times"></i> {{i18n "Cancel"}}</button>
          <button type="button" class="btn btn-blue btn-confirm-cancel-subscription">
            <i class="fa fa-check"></i> 
            {{i18n "Yes, cancel my subscription"}}
          </button>
        </div>
      </div>
    </div>
  </div>
</template>


<template name="_invoice">
  <div class="panel panel-default invoice">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" href="#{{id}}">
          <span class="text-primary">
            <strong>
              {{invoiceAmt amount_due}} {{i18n "on"}} {{invoiceDate this.date}}
            </strong>
          </span>
          {{#if showInvoicePeriod}}
          <span class="text-muted pull-right"><small>{{invoiceDate period_start}} - {{invoiceDate period_end}}<small></span>
          {{/if}}
        </a>
      </h4>
    </div>
    <div id="{{id}}" class="panel-collapse collapse">
      <div class="panel-body">
        <div class="clearfix">
          <span class="pull-left"><h5>{{i18n "Line Items"}}</h5></span>
          {{#if paid}}
          <span class="label label-success pull-right">{{i18n "Paid"}} </span>
          {{/if}}
        </div>
        {{#each lines.data}}
          <div class="row">
            <div class="col-md-6">
              {{lineItemDescription}}
            </div>
            <div class="col-md-4">
              <span class="line-item-period pull-right">{{lineItemPeriod}}</span>
            </div>
            <div class="col-md-2">
              <span class="pull-right">{{invoiceAmt amount}}</span>
            </div>
          </div>
        {{/each}}
        {{#unless paid}}
        <div class="row billing-disclaimer">
          <div class="col-md-12">
            <em>
              {{#if invoiceExplaination}}
                * {{invoiceExplaination}}
              {{/if}}
            </em>
          </div>
        </div>
        {{/unless}}
      </div>
    </div>
  </div>
</template>